html{
	margin: 20px;
	font-family: 'Aldrich', sans-serif;

}

#A_Letter_To_God{
	padding: 25px;
	border-style: solid;
	font-size: 18px
}


#Long_Walk_To_Freedom{
	padding: 25px;
	border-style: solid;
	font-size: 18px
}